<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <%= mechanic.name %>
  <%= mechanic.years_experience %>
<% end %>

<h3>Average Years Experience: <%= @mechanics.average_years_experience %></h3>
