<h1>All Mechanics</h1>
<% @mechanics.each do |mechanic| %>
  <li><%=mechanic.name%>, <%=mechanic.years_experience%> years of experience </li>
<% end %>
<br>
<p>Average years of experience: <%=@mechanics.average_years%></p>
