<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <p>Name: <%= link_to mechanic.name, "/mechanics/#{mechanic.id}" %></p>
  <p>Years of Experience: <%= mechanic.years_experience %>
<% end %>

<p>Average years of experience of all mechanics: <%= @mechanics.average_years %> </p>
