<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <% mechanic.name %>
  <h3><%= link_to "#{mechanic.name}", "/mechanics/#{mechanic.id}" %></h3>
  <p><%= mechanic.years_experience %></p>
  
<% end %> 

<% avg= @mechanics.sum(0.0) / @mechanics.size %>
<h2>Average Years Experience</h2>
<%= avg%>
