<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <p>
    <%= "Name: #{mechanic.name} | Years of Experience: #{mechanic.years_experience}" %>
  </p>
<% end %>

<p>Average Years of Experience: <%= @mechanics.average_experience %></p>
