<h1><%= @mechanic.name %></h1>
<p>Years of Experience: <%= @mechanic.years_experience %></p>

<p>Current rides they're working on: <% @mechanic.working_on_open_rides.each do |ride| %></p>
  <p> <%= ride.name %></p>
<% end %>
