<h1><%= @mechanic.name %> Page</h1>
<p>Years of Experience: <%= @mechanic.years_experience %></p>
<h2>Rides Working On:</h2>
<ul>
  <% @mechanic.rides.each do |r| %>
    <li><%= r.name %></li>
  <% end %>
</ul>