<h1>Name: <%= @mechanic.name %></h1>
  <p>Years Experience: <%= @mechanic.years_experience %></p>

<% @mechanic.rides.each do |ride| %>
  <h3>Ride Name: <%= ride.name  %></h3>
  <p>Thrill Rating: <%= ride.thrill_rating %></p>
<% end %>
