<h1><%=@mechanic.name%>'s information </h1>

<h3>Years of Experience</h3>
<p><%=@mechanic.years_of_experience%></p>

<h3>Rides Worked On</h3>
<%@mechanic.only_open.each do |ride|%>
<p><%=ride.name%></p>
<%end%>
