<h1><%=@park.name%>'s Information</h1>

<h3>Cost of Admission</h3>
<p>$<%=@park.admission_cost%></p>

<h3>Rides at Park</h3>
<%@park.rides_alpha.each do |ride|%>
<p><%=ride.name%></p>
<%end%>

<h3>Average Thrill Rating: <%=@park.average_thrills%></h3>
