<h1><%= @amusement_park.name %></h1>
<h2>Admission Cost: $<%= @amusement_park.admission_cost %></h2>

<% @amusement_park.rides.alphabetical_order.each do |ride| %>
  <%= ride.name %>
<% end %>

<p>Average Thrill Rating: <%= @amusement_park.rides.average_thrill_rating %></p>
