<h3><%= @amusement_park.name %></h3>
<p>Admissions: $<%= @amusement_park.admission_cost %></p>

<% @amusement_park.rides_by_name.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>

<p>Average Thrill Rating of Rides: <%= @amusement_park.rides.average_thrill_rating %>/10</p>
