<h1><%= @amusement_park.name %></h1>

<h2>Admissions: $<%= @amusement_park.admission_cost %></h2>


<h3>Rides:  </h3>
<% @rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>

<h3>Average Thrill Rating of Rides: <%= @amusement_park.average_thrill %></h3>
