<h1><%= @park.name %></h1>
<h4>Cost: $<%= @park.admission_cost %></h4>

<% @rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>

<p>Average Thrill Rating: <%= @average_thrill_rating %>/10</p>
